body {
  font-family: 'Montserrat', sans-serif;
  margin:0;
  background-color: white;
}

.header{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 130px;
}

.header img {
  height: 70%;

}

.menu {
  display: flex;
  justify-content: space-around;
  background-color: #eaedf2;
}

.menu p {
  width: 25%;
  text-align: center;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.menu input {
  box-sizing: border-box;
  width: 20%;
  font-size: 16px;
  text-align: center;
}



.abertura {
  width: 100%;
  /* background-image: url(https://cdn.tourradar.com/s3/tour/original/5596_768b2ec4.jpg);
  height: 500px; */
}

.intro{
  display:flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}

.categoria {
  width: 31%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  box-sizing: content-box;
}

.categoria img {
  width: 100%;
  margin: 0px;
}

.categoria p{
display:block;
  width: 100%;
  font-size: 22px;
  text-align: center;
  background-color: white;
  color: black;
  border-style: solid;
  border-width:thin;
  border-color:darkgrey;
  text-transform: uppercase;
  margin: 0px;
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cadastro {
  background-color: #919499;
  color: black;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 40px;
}

.cadastro p {
  height: 7px;
  padding-bottom: 0px;
  font-size: 18px
}

.cadastro form {
  padding-bottom: 10px
}


#texto-menor {
  font-size: 14px;
  height: 20px;
}

#campo {
  font-size: 12px;
  width: 35%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  text-transform: uppercase;
}

#botao {
  font-size: 14px;
  border-style:solid;
  border-color: black;
  background-color: lightgrey;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: uppercase;
  margin-left: 5px;
}

.footer {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  margin-top: 20px;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  height: 126px;
}

#logo-fim {
  height: 60%;
}

.icones {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 9%;
  height: 60%
}

  .icones img {
  height: 30%;
  }

.menu p:hover {
  background-color: #a0a0a0
}
