.header{
  background-color: blue;
  height: 50px;
}

.cat1-título {
  border-bottom-style:solid;
  border-bottom-color:black
}

.cat1-card{
  display:flex;
  justify-content: space-around;
}

.card {
  border-style: solid;
  width:25%;
  text-align: center;
}

.trilha {
  height: 25px;
}


img {
  display: block;
  width: 80%;
  margin: auto;
}
